<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problemas de JavaScript</title>
    <link rel="stylesheet" href="../styles/css/main.css">
    <script src="../scripts/js/problema5.js"></script>
    <link rel="stylesheet" href="../styles/css/problema2.css">
</head>
<body>
    
    <div class="menu">
        <ul>
            <a href="../../index.html">
                <li>Problema 1</li>
            </a>
            <a href="./problema2.html">
                <li>Problema 2</li>
            </a>
            <a href="./problema3.html">
                <li>Problema 3</li>
            </a>
            <a href="./problema4.html">
                <li>Problema 4</li>
            </a>
            <a href="./problema5.html">
                <li>Problema 5</li>
            </a>
            <a href="./problema6.html">
                <li>Problema 6</li>
            </a>
            <a href="./problema7.html">
                <li>Problema 7</li>
            </a>
            <a href="./problema8.html">
                <li>Problema 8</li>
            </a>
            <a href="./problema9.html">
                <li>Problema 9</li>
            </a>
            <a href="./problema10.html">
                <li>Problema 10</li>
            </a>
        </ul>
    </div>

    <div class="container-main">

        <div class="header">
            <h2>
                Problemas Secuenciales <br>
                Problema 5
            </h2>
            <h3>Flores Zamora Ithan Adrian <br> 4IV9 PSW</h3>
        </div>

        <div class="content-form">

            <form action="" class="formulario">

                <div class="box">
                    <p class="text-form">Numero de hombres en el grupo: </p>
                </div>

                <div class="box-input">
                    <input type="text" id="hombres"onkeypress="return validar(event)" class="input-evy">
                </div>                

                <div class="box">
                    <p class="text-form">Numero de mujeres en el grupo: </p>
                </div>

                <div class="box-input">
                    <input type="text" id="mujeres" onkeypress="return validar(event)" class="input-evy">
                </div>

                <div class="box">
                    <input type="button" class="data" onclick="calcular()" value="Mostrar '%' de hombres y mujeres">
                </div>

                <div class="box">
                    <!-- <input type="text" id="mostrar" readonly placeholder="Hombres: %    Mujeres: %" class="input-evy"> -->
                    <p class="text-form" id="mostrar" >Hombres: %    Mujeres: %</p>
                </div>

            </form>

        </div>

    </div>

</body>
</html>