body {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.dropdown {
  padding: 16px;
}

.dropbtn {
  background-color: rgb(187, 50, 50);
  color: white;
  border: none;
  font-size: 45px;
  border-radius: 4px;
}

.killers {
  border-radius: 4px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: rgb(235, 172, 172);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #c83838;
}

.content {
  margin: 32px;
  display: flex;
  background-color: rgb(199, 42, 37);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.content-box {
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.sub {
  font-size: 45px;
  padding: 32px;
}

.text {
  font-size: 22px;
  padding: 16px;
}

.subtitle {
  font-size: 38px;
  margin-left: 32px;
}

.big{
  margin-left: 32px;
  font-size: 45px;
}

.disco{
  border-radius: 4px;
  margin: 32px;
  margin-top: -10px;
  width: 350px;
  height: 350px;
}

.video{
  border-radius: 4px;
}


